//Fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteCursiva:  'Bona Nova', serif;
  
//Media Query
$telefono: 480px;
$telefonoDos: 400px;
$tablet: 768px;
$tabletDos: 600px;
$desktop: 1024px;
$desktopDos: 1600px;

//Colores
$primario:#5E311E;
$secundario: #C39C63;
$negro: #000;
$blanco: #fff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

//Unidades
$separacion:5rem;