@use 'base/variables' as v;

.text-center{
    text-align: center;
}
.text-shadow{
    text-shadow: 0 0 4px rgba(0, 0, 0, .6);
}
.box-shadow{
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.bg-primario{
    background-color: v.$primario;
}
.padding-bottom-0{
    padding-bottom: 0;
}
